services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: autobot
      POSTGRES_PASSWORD: adesh@228151
      POSTGRES_DB: retail
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "7086:8080"
    env_file:
      - ./backend/.env
    environment:
      # Override DB_HOST for Docker network (service name instead of localhost)
      DB_HOST: postgres
    depends_on:
      - postgres
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "7085:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres:

networks:
  app-network:
    driver: bridge
